@import "tailwindcss";

@theme {
  --font-poppins: Poppins, sans-serif;
}

@layer base {
  body {
    @apply bg-red-50;
  }
}

.mt-safe-top {
  margin-top: env(safe-area-inset-top);
}
.mb-safe-bottom {
  margin-bottom: env(safe-area-inset-bottom);
}